body {
  margin: 0;
  padding: 0;
  background-image: url('https://media.admagazine.com/photos/618a74c5af428eae6e0b616b/master/w_1600%2Cc_limit/25281.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}  
.divH{
  display: flex;
  position: absolute;
  align-items: flex-end;
  top: 50px;
  right: 100px;
}
.iconHome{
  display: flex;
  position: absolute;
  top: 50px;
  left: 100px;
  cursor: pointer;
  color: aliceblue;
}
.in{
  background-color: #FBF9F1;
  border-color: #FBF9F1;
  border-radius: 5px;
  margin-right: 12px;
  font-size: 16px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.div1 {
  background-color: #E5E1DA;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 342px;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
}
h1{
  font-family: 'Times New Roman', Times, serif;
}
.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.input{
  background-color: #FBF9F1;
  border-color: #FBF9F1;
  border-radius: 5px;
  height: 25px;
  width: 250px;
  margin-top: 5px;
  margin-bottom: 15px;
}
.button{
  margin-top: 10px;
  background-color: #FBF9F1;
  border-color: #FBF9F1;
  border-radius: 5px;
  font-size: 16px;
  width: 90px;
  margin-bottom: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}