<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin</title>
</head>
<body>
    <header>
        <a routerLink="/Home" class="linkHome">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="iconHome" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
            </svg>
        </a>
        <div class="divH">
            <button type="submit" class="in" (click)="Login()" id="buttonL">Login</button>
            <button type="submit" class="in" (click)="Signin()" id="buttonS">Signin</button>
        </div>
    </header>

    <div class="div1">
        <h1>Signin</h1>
        <form [formGroup]="signinForm" class="form">
            <div class="divF1">
                <label for="" class="label">Name:</label>
                <input type="text" class="input"  placeholder="Ingresa tu nombre" formControlName="name">
                <label for="" class="label">LastName:</label>
                <input type="text" class="input" placeholder="Ingresa tu apellido" formControlName="lastName">
                <label for="" class="label">Email:</label>
                <input type="email" class="input" placeholder="Ingresa tu email" formControlName="email">
            </div>
            <div class="divF2">
                <label for="" class="label">Document</label>
                <input type="text" class="input" id="inputD2" placeholder="Ingresa tu número de documento" formControlName="document">
                <label for="" class="label">Password:</label>
                <input type="password" class="input" placeholder="Ingresa tu contraseña" formControlName="password">
            </div>
        </form>
        <div class="button">
            <button type="submit" class="button" [disabled]="signinForm.invalid" (click)="submitSignin()">Signin</button>
        </div>
    </div>
</body>
</html>
