<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Restaurants</title>
</head>
    <body>

        <header class="header" id="hf">     
            <nav class="navBar" >
                <h1>Booking Restaurant Tables</h1>
                <div class="navEnd">
                    <i class="fa-solid fa-circle-user fa-2x" style="color: #ffffff;" id="icon"></i>
                    <label for="iMenu" class="labMenu">
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="listIcon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                        </svg>
                    </label>
                    <input type="checkbox" id="iMenu" class="inputMenu">
                    <ul class="ulMenu">
                        <li class="liMenu">
                            <a routerLink="/Restaurant" class="linkMenu">Inicio</a>
                        </li>
                        <li class="liMenu">
                            <a routerLink="/Bookings" class="linkMenu">Reservas</a>
                        </li>
                        <li class="liMenu">
                            <a routerLink="/Favorites" class="linkMenu">Mis Favoritos</a>
                        </li>
                        <li class="liMenu">
                            <a routerLink="/Home" class="linkMenu">Cerrar Sesión</a>
                        </li>
                        
                    </ul>
                </div>
            </nav>
        </header>

        <div class="divG">
            <div class="search" >
                <form class="d-flex">
                    <input class="form-control" type="text" placeholder="Search" id="inputS">
                </form>
            </div>

            <div class="reserva">
                <div class="tittle">
                    <h1>Realiza tu Reserva</h1>
                </div>
                <div class="divReserva" >
                    <div class="selected">
                        <h2>{{ selectedRName }}</h2>
                        <img [src]="selectedRImg" alt="Restaurant Image">
                    </div>
                    <form action="" class="FormReserva">
                        <label for="">Mesa para</label>
                        <input type="number" class="input">
                        <label for="">¿Es por alguna fecha especial?</label>
                        <mat-radio-group aria-label="Select an option">
                            <mat-radio-button value="1">Si</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button>
                        </mat-radio-group>
                        <div class="conditional">
                            <ng-template >
                                <input type="text" class="input">
                            </ng-template>
                        </div>
                        <label for="">Fecha de Reserva</label>
          
                        <label for="">Hora de reserva</label>
                        <input type="time" name="time" class="input">
                        <button type="submit" class="button">Registrar</button>
                    </form>
                </div>
            </div>
        </div>

        <footer class="footer" id="hf">
            <div class="social">
                <i class="fa-brands fa-instagram" style="color: #cd1d96;" id="FIcon"><a href="https://www.instagram.com/" target="_blank">Instagram</a></i>
                <i class="fa-brands fa-facebook" id="FIcon"><a href="https://www.facebook.com/" target="_blank">Facebook</a></i>
                <i class="fa-brands fa-twitter" style="color: #74C0FC;" id="FIcon"><a href="https://twitter.com/?lang=es" target="_blank">Twitter</a></i>
            </div>
            <div class="aboutUs">
                <a routerLink="/AboutUs">¿Quiénes Somos?</a>
                <a routerLink="">Soporte al cliente</a>
            </div>
            <div class="contact">
                <p>Contacto: +57 3669842151</p>
                <p>Teléfono Fijo: 045731</p>
                <p>WhatsApp: +57 3669842151</p>
            </div>
        </footer>

    </body>
</html>

