.header{
    background-color: #AAD7D9;
    height: 100px;
    width: 100%;
}
h1{  
    display: flex;
    align-content: center;
    color: aliceblue;
    margin-left: 20px;
    padding-top: 30px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divH{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 95px;
    margin-top: -30px;
}
.divH button{
    text-align: center;
    color: black;
    background-color: #FBF9F1;
    border-color: #FBF9F1;
    border-radius: 8px;
    margin-right: 12px;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.divG{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.divG p{
    margin: 2em;
}
.div1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em 0;
    margin-top: 5em;
}
.div2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;    
    margin: 3em 0;
}
.div3{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3em 0;  
    margin-bottom: 5em;  
}
.footer{
    background-color: #E5E1DA;
    height: 130px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif
}
.footer a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif
}
.iconInstagram{
    color: #E4405F;
}
.iconFacebook{
    color: #1877f2
}
.social{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    gap: 12px;
}
.aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    gap: 12px;
}
