*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    height: 100px;
    background-color:#AAD7D9;
}
h1{
    color: aliceblue;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navBar {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3em;
}
.navEnd{
    display: flex;
    align-items: center;
    margin: 2em;
}
.navEnd.menu-open {
    margin-bottom: 20px; /* Ajusta según la cantidad de píxeles deseados */
}
.iconUser{
    color: aliceblue;
    margin-right: 12px;
}
.listIcon {
    color: aliceblue;
    cursor: pointer;
}
.inputMenu {
    display: none;
}
.inputMenu:checked + .ulMenu{
    height: 160px;
}
.ulMenu {
    list-style: none;
    width: 100%;
    background-color: #92C7CF;
    position: absolute;
    top: 100px;
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    transition: .3s;
    cursor: pointer;
}
.linkMenu {
    text-decoration: none;
    font-size: 16px;
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.search{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#inputS{
    width: 30em;
    height: 2em;
    border-radius: 14px;
}
.tittle h1{
    display: flex;
    justify-content: center;
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 3em;
    color: #000;
}
.restaurants{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 2em 3em;
    margin-bottom: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 2em; 
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    background-color: rgb(0, 0,0, .4);
    text-align: center;
}
.card .back{
    transform: perspective(600px) rotateY(180deg);
    background-color: #92C7CF;
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px; 
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin: 0 3rem;
}
.card .back .link a{
    text-decoration: none;
    color: #f3f3f3;
}
#iconB{
    cursor: pointer;
}
.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
}
.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
.footer{
    background-color: #E5E1DA;
    height: 130px;
    width: 100%;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif
}
.footer a{
    color: #000;
    font-size: 16px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif
}
.iconInstagram{
    color: #E4405F;
}
.iconFacebook{
    color: #1877f2
}
.social{
    display: flex;
    flex-direction: column;
    margin-left: 3em;
    gap: 12px;
}
.aboutUs{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact{
    display: flex;
    flex-direction: column;
    margin-right: 3em;
    gap: 12px;
}